body {
  font-family: Arial, sans-serif;
  font-size: 18px;
  background-color: #f9f9f9;
  color: #222;
  line-height: 1.6;
  padding: 2em;
}

h1 {
  text-align: center;
  color: #333;
}

img {
  max-width: 100px;
  margin-top: 1rem;
}

.suggestion {
  text-align: center;
}
form {
  max-width: 500px;
  margin: 2em auto;
  background: #fff;
  padding: 1.5em;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-top: 1em;
  font-weight: bold;
}
body.happy {
  background: #f1e78d;
}

body.sad {
  background: #d0b4eb;
}
body.calm {
  background: #f0b767;
}

select,
button {
  display: block;
  width: 100%;
  padding: 0.6em;
  font-size: 1em;
  margin-top: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #518c89;
  color: white;
  margin-top: 1.5em;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: #3d6c6a;
  outline-offset: 2px;
}

input {
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0;
}
